.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.icon {
  fill: transparent;
  stroke: #407bff;
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  border-radius: 10px;
  margin-top: 24px;
  padding: 8px 30px;
  width: 280px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  color: #fff;
  background-color: #407bff;
  transition: box-shadow 350ms ease-in-out;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 133%;
    width: 336px;
    height: 44px;
  }

  @media screen and (min-width: 1440px) {
    width: 384px;
  }
}

.btn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.btn:active {
  box-shadow: none;
}

.main-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  color: #2f2f2f;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 117%;
  }
}

.description {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #2f2f2f;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 123%;
  }
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #2f2f2f;
  margin-bottom: 12px;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #2f2f2f;
}
